{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e

LAYOUT_DIR="$HOME/.local/share/keyboard-layouts"
DEST_DIR="$HOME/Library/Keyboard Layouts"

echo "Installing Turkish Q Legacy (Fixed) keyboard layout..."

mkdir -p "$DEST_DIR"
cp "$LAYOUT_DIR/TurkishQLegacyFixed.keylayout" "$DEST_DIR/"

swift "$LAYOUT_DIR/install-layout.swift" "Turkish Q Legacy (Fixed)"

echo "Done!"
{{- end -}}
